/* Put your css in here */

.column {
    border: 1px solid white;
    width: 15px;
    height: 15px;
    display: inline-block;
}

.row {
	height: 15px;
}


#startGame {
	width: 120px;
	padding: 10px;
	margin-top: 5px;
	text-align: center;
	background-color: black;
	color: white;
}

#snakeCell{
    margin: 18px;
}